/.bundle
/db/*.sqlite3
/.flowconfig
/log/*.log
/tmp
vendor/ruby/*
.rvmrc
tmp/**/*
tmp/*
config/database.yml
config/app_config.yml
config/ips_restriction.yml
config/influxdb.yml
/coverage
*.swp
*.swo
public/doc
public/_static
public/assets
.rspec
$HOME
dump.rdb
Vagrantfile
.vagrant/
.DS_STORE
app/.DS_STORE
app/assets/.DS_STORE
.jscs.json
tags
.rubocop.yml
vendor/bundle
/.projectile
.sass-cache
# Added by webpack-rails
/node_modules
/public/webpack
/public/packs
/public/javascripts
npm-debug*.log*
/public/packs
/public/packs-test
/node_modules
